################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NYCJobs/NYCJobsWeb.PerformanceTests/WebTest1.fbc388e2-60af-4e3c-a0c7-bee3f6f89366.rec.webtestresult
/NYCJobs/NYCJobsWeb.PerformanceTests/WebTest1.8eb1afc7-266e-4c59-ad40-546da0460a09.rec.webtestresult
