<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <!--<add key="NuGet official package source" value="https://www.nuget.org" />-->
    <!--<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v3/" />-->
    <!--<add key="Artifactory" value="https://acc-forge.azure-paas.com/artifactory/api/nuget/nuget-virtual" />-->
    <add key="Nexus" value="https://tr-ats-nrepo.azure-paastr.com/repository/nuget-hosted/" />
  </packageSources>
</configuration>