<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSources>
    <!--<add key="NuGet official package source" value="https://www.nuget.org" />-->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v3/" />
    <!--<add key="Artifactory" value="http://4a68e817-ae1f-4871-ab47-1e676b6a9023.cloudapp.net/artifactory/api/nuget/nuget" />-->
  </packageSources>
</configuration>